@font-face {
  font-family: "iconfont"; /* Project id 2480633 */
  src: url('iconfont.woff2?t=1620465380684') format('woff2'),
       url('iconfont.woff?t=1620465380684') format('woff'),
       url('iconfont.ttf?t=1620465380684') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star4:before {
  content: "\e615";
}

.icon-star2:before {
  content: "\e681";
}

.icon-copy2fuzhi:before {
  content: "\e701";
}

.icon-more1:before {
  content: "\e602";
}

.icon-left_2:before {
  content: "\e64e";
}

.icon-right:before {
  content: "\e6a1";
}

.icon-more:before {
  content: "\e84b";
}

.icon-jiantou:before {
  content: "\e640";
}

.icon-package:before {
  content: "\e644";
}

.icon-down:before {
  content: "\e610";
}

.icon-up:before {
  content: "\e611";
}

.icon-star:before {
  content: "\e683";
}

.icon-weixin:before {
  content: "\e62f";
}

.icon-listmore:before {
  content: "\e651";
}

.icon-51weixuanze:before {
  content: "\e63e";
}

.icon-close:before {
  content: "\e604";
}

.icon-list:before {
  content: "\e697";
}

.icon-reload:before {
  content: "\e895";
}

.icon-facebook:before {
  content: "\f19d";
}

.icon-all_selects:before {
  content: "\e60c";
}

.icon-sysseting:before {
  content: "\e612";
}

.icon-help:before {
  content: "\e782";
}

.icon-up1:before {
  content: "\e671";
}

.icon-down_3:before {
  content: "\e64d";
}

.icon-chose:before {
  content: "\e613";
}

.icon-twitter:before {
  content: "\ea90";
}

.icon-message:before {
  content: "\e632";
}

.icon-nodata:before {
  content: "\e729";
}

.icon-kxian:before {
  content: "\e60e";
}

.icon-icon_kline:before {
  content: "\e696";
}

