$colors-dark: (
  bg:#152131,
  /*Header*/
  address:#1A2940,
  address_span:#77808E,
   /*Transaction*/
  transaction_nav:#0C192B,
  transaction_nav_span:#71819A,
  transaction_nav_active:#1B55D1,
   /*Trade*/
   assets:#fff,
   select_down:#1A2940,
   select_down_border:rgba($color: #1A2940, $alpha: 0.5),
   el-select-dropdown__item:#71819A,
   el-popper:#1A2940,
   border-bottom-color:#1A2940,
   el-input__inner_border_color:rgba($color: #1A2940, $alpha: 0.5),
   border-right-color:rgba($color: #fafafa, $alpha: 0.2),
   input_color:#DCDFE6,
   btns_span:#1A2940,
   el-slider__runway:#1A2940,
  line_box:#0C192B,
  list_nav_active:#0C192B,
  info_num:#cdd6e7,
  filter_imgs:#273342,
  text1_first_child:#cdd6e7,
  text1_last_child:#cdd6e7,
  el-drawer__body:#152131,
  link_text:#cdd6e7,
  link_icon:#71819A,
  control:#0C192B,
  dialog_bg:#152131,
  title-text: #9ca3b0,
  el-input_inner: rgba(20,29,48,1),
  input-group:#1A2940,
  line:#6D87A8,
  text:#cdd6e7,
  data_item2:#6D87A8,
  red_data:#D04B64,
  right_item1:#6D87A8,
  right_item2:#cdd6e7,
  line_bg:#0C192B,
  footer:#212833,
  box_span:#0C192B,
);